h1{
    color: brown;
    text-align: center;
}

div{
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 50px;
}