<div fxLayoutAlign="center center" fxFlexFill class="div"> 
    <mat-card fxFlex="35" class="mat">
        <mat-toolbar class="mat">My Portfolio</mat-toolbar>
        <p>Welcome Puneeth</p>
        <form fxLayoutAlign="stretch" fxLayout="column" class="Contact-form">
            <label for="" class="cname">Contact Name</label>
            <input type="text" [(ngModel)]="contact" [ngModelOptions]="{standalone: true}">
            <label for="" class="pnum">Phone No:</label>
            <input type="number" [(ngModel)]="number" [ngModelOptions]="{standalone: true}">
            <button mat-raise-button type="submit" class="button1" (click)="clickMe()">Save</button>
            
            <table style="width:100%">
              <tr>
                <th>Contact</th>
                <th>Number</th>
              </tr>
              
              <tr>
                <td>{{contact1}}</td>
                <td>{{number1}}</td>
              </tr>
            </table>

          </form>
    </mat-card>
</div>
